
.texto{
    text-align: justify;
    color:black;
    padding:10%;
    background-color: blue;
}

.encabezado{
    background-color: bisque;
}

.contenido{
    background-color: cornsilk;
}

.parrafo{
    text-align: justify;
    color:black;
    padding:10%;
}